// *************************************
//
//   Card
//   -> Individual style containers
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .card[error|success|warning]
//   / ...
//
// *************************************

.card
  background: $card-background
  border: $card-borderWidth $b-borderStyle $c-border
  border-radius: $b-borderRadius
  padding: $b-space-s
  position: relative

  +respond-to($g-s)
    padding: $b-space

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.card--error
  border-color: $c-error

.card--success
  border-color: $c-success

.card--warning
  border-color: $c-warning
