// *************************************
//
//   Card
//   -> Individual style containers
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .card[.card--error|success|warning]
//
// *************************************

.card
  background: $card-background
  border: $card-borderWidth $b-borderStyle $b-borderColor
  border-radius: $b-borderRadius
  padding: $b-whitespace-s
  position: relative
  +respond-to($grid-breakpoint-lap)
    padding: $b-whitespace

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Types ----- //

.card--error
  border-color: $c-error

.card--success
  border-color: $c-success

.card--warning
  border-color: $c-warning

