// *************************************
//
//   Progress
//   -> Progress bar
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .progress
//   .progress-bar{ style: 'width: 65%;' }
//
// *************************************

.progress
  background: $progress-background
  height: 10px
  position: relative

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Bar ----- //

.progress-bar
  background: $progress-bar-background
  bottom: 0
  box-sizing: border-box
  left: 0
  max-width: 100%
  position: absolute
  top: 0
  z-index: 1
