// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .row[a]
//
// *************************************

.row
  overflow: hidden
  padding: 0 $b-space-s

  +respond-to($g-s)
    padding: 0 $b-space

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Hierarchy ----- //

.row--a
  background: $row--a-background
