// *************************************
//
//   Well
//   -> Top and bottom spacing
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .well[.well--s|l|xl]
//
// *************************************

.well
  margin-bottom: $b-whitespace-s
  margin-top: $b-whitespace-s
  +respond-to($grid-breakpoint-lap)
    margin-bottom: $b-whitespace
    margin-top: $b-whitespace

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Large ----- //

.well--l
  margin-bottom: $b-whitespace
  margin-top: $b-whitespace
  +respond-to($grid-breakpoint-desk)
    margin-bottom: 2 * $b-whitespace
    margin-top: 2 * $b-whitespace

